flow.json
[
    {
        "id": "635abf286b8722b5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "da608ad4ee189a84",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "77093a4353794552",
        "type": "ui_tab",
        "name": "Tab1",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f2baf52946c1ee8a",
        "type": "ui_group",
        "name": "G1",
        "tab": "77093a4353794552",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6b636e6e8e915382",
        "type": "inject",
        "z": "635abf286b8722b5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "19ebc18b69b7fbca"
            ]
        ]
    },
    {
        "id": "19ebc18b69b7fbca",
        "type": "link out",
        "z": "635abf286b8722b5",
        "name": "l1",
        "mode": "link",
        "links": [
            "aabca38f0833d9dc"
        ],
        "x": 375,
        "y": 120,
        "wires": []
    },
    {
        "id": "aabca38f0833d9dc",
        "type": "link in",
        "z": "da608ad4ee189a84",
        "name": "",
        "links": [
            "19ebc18b69b7fbca"
        ],
        "x": 195,
        "y": 160,
        "wires": [
            [
                "da025fdc9e1d4a47",
                "c671f238d22bed3e",
                "9cd535e19c7e32cf"
            ]
        ]
    },
    {
        "id": "da025fdc9e1d4a47",
        "type": "ui_text",
        "z": "da608ad4ee189a84",
        "group": "f2baf52946c1ee8a",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 350,
        "y": 160,
        "wires": []
    },
    {
        "id": "c671f238d22bed3e",
        "type": "ui_gauge",
        "z": "da608ad4ee189a84",
        "name": "",
        "group": "f2baf52946c1ee8a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 350,
        "y": 240,
        "wires": []
    },
    {
        "id": "9cd535e19c7e32cf",
        "type": "ui_chart",
        "z": "da608ad4ee189a84",
        "name": "",
        "group": "f2baf52946c1ee8a",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 370,
        "y": 320,
        "wires": [
            []
        ]
    }
]