flow.json
[
    {
        "id": "635abf286b8722b5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "da608ad4ee189a84",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "77093a4353794552",
        "type": "ui_tab",
        "name": "Tab1",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f2baf52946c1ee8a",
        "type": "ui_group",
        "name": "G3",
        "tab": "77093a4353794552",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bedeeea8680677ea",
        "type": "ui_group",
        "name": "G1",
        "tab": "77093a4353794552",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "50b404199709120c",
        "type": "ui_group",
        "name": "G2",
        "tab": "9b1bb7b832ddae5d",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9b1bb7b832ddae5d",
        "type": "ui_tab",
        "name": "Tab2",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "10af8e39fbf82ec7",
        "type": "ui_group",
        "name": "G1",
        "tab": "9b1bb7b832ddae5d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4528895dc9c7e6fe",
        "type": "ui_group",
        "name": "G3",
        "tab": "77093a4353794552",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6b636e6e8e915382",
        "type": "inject",
        "z": "635abf286b8722b5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "19ebc18b69b7fbca"
            ]
        ]
    },
    {
        "id": "19ebc18b69b7fbca",
        "type": "link out",
        "z": "635abf286b8722b5",
        "name": "l1",
        "mode": "link",
        "links": [
            "aabca38f0833d9dc"
        ],
        "x": 375,
        "y": 120,
        "wires": []
    },
    {
        "id": "de5898b4db95868a",
        "type": "inject",
        "z": "635abf286b8722b5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "fac14b742a73bf19"
            ]
        ]
    },
    {
        "id": "fac14b742a73bf19",
        "type": "link out",
        "z": "635abf286b8722b5",
        "name": "l2",
        "mode": "link",
        "links": [
            "63e48f26730cb5af",
            "aabca38f0833d9dc",
            "55137ab46ba274a3"
        ],
        "x": 375,
        "y": 220,
        "wires": []
    },
    {
        "id": "36f276af33eb6902",
        "type": "inject",
        "z": "635abf286b8722b5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "3c1a07d415f7ccea",
                "65d3d0c7c6b1d985"
            ]
        ]
    },
    {
        "id": "3c1a07d415f7ccea",
        "type": "link out",
        "z": "635abf286b8722b5",
        "name": "l3",
        "mode": "link",
        "links": [
            "63e48f26730cb5af",
            "aabca38f0833d9dc",
            "55137ab46ba274a3"
        ],
        "x": 375,
        "y": 320,
        "wires": []
    },
    {
        "id": "65d3d0c7c6b1d985",
        "type": "debug",
        "z": "635abf286b8722b5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 420,
        "wires": []
    },
    {
        "id": "aabca38f0833d9dc",
        "type": "link in",
        "z": "da608ad4ee189a84",
        "name": "",
        "links": [
            "19ebc18b69b7fbca",
            "fac14b742a73bf19",
            "3c1a07d415f7ccea"
        ],
        "x": 195,
        "y": 160,
        "wires": [
            [
                "da025fdc9e1d4a47",
                "c671f238d22bed3e",
                "9cd535e19c7e32cf"
            ]
        ]
    },
    {
        "id": "da025fdc9e1d4a47",
        "type": "ui_text",
        "z": "da608ad4ee189a84",
        "group": "bedeeea8680677ea",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text11",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 350,
        "y": 160,
        "wires": []
    },
    {
        "id": "c671f238d22bed3e",
        "type": "ui_gauge",
        "z": "da608ad4ee189a84",
        "name": "",
        "group": "bedeeea8680677ea",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge11",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 360,
        "y": 240,
        "wires": []
    },
    {
        "id": "9cd535e19c7e32cf",
        "type": "ui_chart",
        "z": "da608ad4ee189a84",
        "name": "",
        "group": "bedeeea8680677ea",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart11",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 380,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "63e48f26730cb5af",
        "type": "link in",
        "z": "da608ad4ee189a84",
        "name": "",
        "links": [
            "fac14b742a73bf19",
            "3c1a07d415f7ccea"
        ],
        "x": 175,
        "y": 440,
        "wires": [
            [
                "134ce284fd567ef3",
                "275fb20f582f8860",
                "71c8cac0255c4d9e"
            ]
        ]
    },
    {
        "id": "134ce284fd567ef3",
        "type": "ui_text",
        "z": "da608ad4ee189a84",
        "group": "f2baf52946c1ee8a",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text12",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 330,
        "y": 440,
        "wires": []
    },
    {
        "id": "275fb20f582f8860",
        "type": "ui_gauge",
        "z": "da608ad4ee189a84",
        "name": "",
        "group": "f2baf52946c1ee8a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge12",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 340,
        "y": 520,
        "wires": []
    },
    {
        "id": "71c8cac0255c4d9e",
        "type": "ui_chart",
        "z": "da608ad4ee189a84",
        "name": "",
        "group": "f2baf52946c1ee8a",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart12",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 360,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "55137ab46ba274a3",
        "type": "link in",
        "z": "da608ad4ee189a84",
        "name": "",
        "links": [
            "fac14b742a73bf19",
            "3c1a07d415f7ccea"
        ],
        "x": 185,
        "y": 700,
        "wires": [
            [
                "e4aadb0bdd7b6b77",
                "ed378e4acbb1743a",
                "d8f8e5c81991b0c5"
            ]
        ]
    },
    {
        "id": "e4aadb0bdd7b6b77",
        "type": "ui_text",
        "z": "da608ad4ee189a84",
        "group": "10af8e39fbf82ec7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text13",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 340,
        "y": 700,
        "wires": []
    },
    {
        "id": "ed378e4acbb1743a",
        "type": "ui_gauge",
        "z": "da608ad4ee189a84",
        "name": "",
        "group": "10af8e39fbf82ec7",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge13",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 350,
        "y": 780,
        "wires": []
    },
    {
        "id": "d8f8e5c81991b0c5",
        "type": "ui_chart",
        "z": "da608ad4ee189a84",
        "name": "",
        "group": "10af8e39fbf82ec7",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart13",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 370,
        "y": 860,
        "wires": [
            []
        ]
    }
]